<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjektSMB"
        tools:targetApi="31">
        <activity
            android:name=".AuthorizationActivity"
            android:exported="false"
            android:label="@string/title_activity_authorization"
            android:theme="@style/Theme.ProjektSMB" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.ProjektSMB" />
        <activity
            android:name=".AccountSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_account_settings"
            android:theme="@style/Theme.ProjektSMB" />
        <activity
            android:name=".AddChildActivity"
            android:exported="true"
            android:label="@string/title_activity_add_child"
            android:theme="@style/Theme.ProjektSMB" />
        <activity
            android:name=".ChildActivity"
            android:exported="true"
            android:label="@string/title_activity_child"
            android:theme="@style/Theme.ProjektSMB" />
        <activity
            android:name=".AddParent"
            android:exported="false"
            android:label="@string/title_activity_add_parent"
            android:theme="@style/Theme.ProjektSMB" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.ProjektSMB" />
        <activity
            android:name=".InputNameActivity"
            android:exported="false"
            android:label="@string/title_activity_input_name"
            android:theme="@style/Theme.ProjektSMB" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProjektSMB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>